@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background-color: #edf3f2;
}

/*Scrollbar colour */
textarea::-webkit-scrollbar {
  background: #d1dfdc;
}

textarea::-webkit-scrollbar-thumb {
  background: #b6b2b2;
  border-radius: 10px;
}

.output-box::-webkit-scrollbar {
  width: 10px;
}

.output-box::-webkit-scrollbar {
  background: #d1dfdc;
}

.output-box::-webkit-scrollbar-thumb {
  background: #b6b2b2;
  border-radius: 10px;
}

.output-box::-webkit-scrollbar {
  width: 10px;
}

.output-box::-webkit-scrollbar-track {
    background: #edf3f2;
    border-radius: 10px;
}
